{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une annonce - {{parent()}}
{% endblock %}

{% block body %}

<section class="container">
    <div class="form-signin">
        <h1 class="h3 mb-3 fw-bold fst-italic text-center">Ajouter une annonce</h1>

        <div class="form-floating ">
        {{ form_start(formView) }}
        </div>
            <div class="form-floating my-2">
            {{ form_widget(formView.title) }}
            {{ form_label(formView.title) }}
             </div>
            <div class="form-floating my-2">
            {{ form_widget(formView.content)}}
            {{ form_label(formView.content)}}
            </div>
        {{ form_end(formView) }}
        </div>
    </section>
</main>

<a href=" {{ path('home') }} " class="btn btn-secondary my-2 mx-4">Retour à l'accueil</a>  

{% endblock %}
