{% extends "base.html.twig" %}

{% block title %}
    Homepage - {{parent()}}
{% endblock %}

{% block body %}
<h1>Bienvenue CSS</h1>

<p><a href="{{path('app_login')}} ">Se connecter</a></p>
{% if app.user %}
<p><a href="{{path('app_logout')}} ">Se déconnecter</a></p>
<p><a href="{{path('announce_add')}} ">Ajouter une annonce</a></p>
{% endif %}
<p><a href="{{path('app_register')}} ">Enregistrer un utilisateur</a></p>

{% endblock %}